lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
temp
temp-tests
testx
_site
.DS_Store

/static/testsuite/
*.svn-base
static/test.html

.vscode
launch.json
settings.json
.env
temp.js